@import '../../sass/index';

.register {
  display: flex;
  flex-direction: column;
  
  &__title {
    text-align: center;
  }
  & p {
    text-align: center;
    font-size: $font-lg;
  }
  &__form {
    display: flex;
    flex-direction: column;
    & input {
      font-size: $font-lg;
      margin-top: $spacing-md;
      border: none;
      background-color: $dark;
      color: $light;
      border-radius: $btnRadius;
      padding: $spacing-sm $spacing-md;
    }
    &__login,
    &__register {
      font-size: $font-lg;
      border: none;
      border-radius: $btnRadius;
      padding: $spacing-sm;
      transition: all ease-in 0.2s;
      cursor: pointer;
    }
    &__login {
      color: $light;
      background-color: rgba($primary, 0.5);
      text-align: center;
      text-decoration: none;
      font-weight: 700;
      &:hover {
        background-color: rgba($primary, 0.7);
      }
      &:active {
        background-color: rgba($primary, 0.9);
      }
    }
    &__register {
      margin-top: $spacing-md;
      background-color: rgba($secondary, 0.5);
      &:hover {
        background-color: rgba($secondary, 0.7);
      }
      &:active {
        background-color: rgba($secondary, 0.9);
      }
    }
  }
  &__error {
    color: rgba($primary, 0.7);
    background-color: rgba($dark, 0.1);
    border-radius: $btnRadius;
    padding: $spacing-sm;
  }
}