@import '../../sass/index';

.incExp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: linear-gradient(0.25turn, rgba($secondary, 0.1), rgba($primary, 0.1));
  margin: $spacing-lg $spacing-md $spacing-md $spacing-md;
  &__item {
    color: $med;
    padding: 0 $spacing-md;
    & h3 {
      font-weight: 700;
    }
    &__pos {
      color: $med;
    }
    &__neg {
      color: $med;
    }
  }
}