@import '../../sass/index';

.addAcct {
  margin: $spacing-lg $spacing-md;
  &__head{
    margin-bottom: $spacing-lg;
    font-weight: 700;
  }
  &__form {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: $spacing-md;
    &__grp{
      display: flex;
      flex-wrap: wrap;
      &__item {
        background: linear-gradient(0.25turn, rgba($med, 0.1), rgba($dark, 0.1));
        border: none;
        outline: none;
        background-color: $light;
        resize: none;
        margin: $spacing-sm;
        padding: $spacing-sm $spacing-md;
        border-radius: $btnRadius;
        font-family: $Maven;
        font-size: $font-sm;
        width: 100%;
      }
    }
    &__btncont {
      text-align: center;
      display: flex;
      justify-content: center;
      justify-content: center;
      &__submit {
        background-color: rgba($secondary, 0.4);
        border: none;
        margin: $spacing-md;
        padding: $spacing-sm $spacing-xl;
        border-radius: $pillRadius;
        display: flex;
        font-size: $font-sm;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.25s ease;
        letter-spacing: $spacing-xxs;
        text-transform: uppercase;
        &:before {
          content:"Add";
        }
        &:hover {
          background-color: rgba($secondary, 0.6);
        }
        &:active {
          background-color: rgba($secondary, 0.8);
          letter-spacing: $spacing-xs;
        }
      }
    }
  }
}